{% extends "layouts/base.html" %}

{% block title %} Add Team {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Add Team</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="{% url 'teams:team_list' %}">Teams</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Add Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Create Team</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                  {% include 'includes/modal.html' %}
                                                    {{ form.errors }}
                                                    <form method='POST' id="myForm">
                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="exampleInputProject1">Team Name</label>
                                                            {{ form.team_name }}
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Manager</label>
                                                            {{ form.manager }}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleFormControlTextarea1">Team description</label>
                                                            {{ form.team_description }}
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    
    <!-- Add this code to your template to display the success message modal -->
    
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $(document).ready(function() {
      $('#myForm').submit(function(event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: formData,
          success: function(data) {
            if (data.success) {
              $('#successModal').modal('show');
            }
          },
          error: function() {
            alert('An error occurred while saving the data.');
          }
        });
      });
    });
    $(document).ready(function () {
        $("#okbtn").click(function () {
            $.ajax({
                success: function() {
                    window.location.href = '/teams/list/';
                }
            });
        });
    });
    </script>
{% endblock javascripts %}
