{% extends "layouts/base.html" %}

{% block title %} Projects {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class='row'>
                        <div class="page-header col-sm-10">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Projects</h5>
                                        </div>
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                            <li class="breadcrumb-item"><a href="javascript:">Projects</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-0">
                            {% if request.user.user_type != 'EM' %}
                                <a href="{% url 'projects:create_project' %}" ><button type="button" class="btn btn-primary" title="Add new projects" data-toggle="tooltip">Add Project</button></a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>All Projects</h5>
                                        <span class="d-block m-t-5">These are the <code>projects</code> table </span>
                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Project Name</th>
                                                        <th>Assigned to Team</th>
                                                        <th>Deadline</th>
                                                        <th>Status</th>
                                                        <th>Progress</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for project in projects %}
                                                    <a href="#">
                                                        <tr style="color:black">
                                                            <th scope="row">{{ forloop.counter }}</th>
                                                            <td><a style="text-decoration: none !important;color:black" href="{% url 'projects:project_details' project.id %}">{{ project.project_name }}</a></td>
                                                            <td><a style="text-decoration: none !important;color:black" href="{% url 'teams:team_details' project.assigned_to.id %}">{{ project.assigned_to }}</a></td>
                                                            <td>{{ project.end_date_time }}</td>
                                                            {% if project.project_status == 'PEN' %}
                                                                <td style="color:red"><i class="fas fa-circle text-c-red f-10"></i>&nbsp&nbsp&nbsp{{ project.get_project_status_display }}</td>
                                                            {% else %}
                                                                <td style="color:green"><i class="fas fa-circle text-c-green f-10"></i>&nbsp&nbsp&nbsp{{ project.get_project_status_display }}</td>
                                                            {% endif %}
                                                            <td>
                                                                {% with completion_details=project.get_project_completion_details %}
                                                                    {{ completion_details.completed_percent }}% Completed
                                                                {% endwith %}
                                                            </td>
                                                        </tr>
                                                    </a>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
